
@{
    ViewBag.TituloPagina = "Conceito";
}


<center>

    <h2>Conceito</h2>
    <p>O conceito desta página é para aprender como programar em HTML5 com tudo aquilo que se aprendeu até agora!</p>
    <a asp-action="Index">Voltar ao Início</a>
</center>
