@{

    ViewBag.TituloPagina= "Entrada";
    
 }




    <div class="jumbotron">
       <center><h1>Olá! Bem-vindo ao website de DA2!</h1></center>
    </div>
    <p>
        Entra no site no que parece ser o LAB Compras!
    </p>

    <center><a asp-action="Conceito">Ir para Conceito</a></center>
