
@{
    ViewBag.TituloPagina = "Depesas";
}

<h2>Despesas</h2>

<p>
    <a asp-controller="Despesa" asp-action="NovaDespesa" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-plus">Despesa</span>
    </a>       
</p>



